# Variáveis de ambiente (NUNCA subir senha real)
.env
.env.local

# Node / Front-End
node_modules/
dist/
build/
.next/
npm-debug.log*
yarn-error.log*

# Python / Back-End
__pycache__/
*.pyc
venv/
.venv/
env/

# Docker
*.log

# Dados locais de banco, caso usem bind mount
docker/**/data/
coverage/
*.tsbuildinfo

# VS Code
.vscode/*
!.vscode/extensions.json

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
*.swp